<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <div class="content-section" style="background:rgb(179, 206, 80) ; border: 5px outset red;">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <center>
                <h1>
                    <u>
                    CONTACT US
                </u>
                </h1>
                
                <h2> PHONE : 1300030001<br><br>
                    EMAIL : wingsofmelody@gmail.com<br><br>
                    INSTAGRAM : melody_wings<br><br>
                    FACEBOOK : melody_wings<br><br><br>
                    **************************************
                    <br><br><br><br><br><br><br><br><br>

                </h2>
            </center>
            </fieldset>
        </form>
    </div>
   
</body>
</html>